#terminal-corner {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
  font: monospace;
  height: 12px;
  background: url('images/bar.png') right; // no-repeat;
  display: none;
}

#terminal-container {
  background: #ccc url('images/bar.png') top repeat-x;
  height: 200px;
}


#terminal-container input {
  background: #ccc;
}
